apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: tap2go-git
spec:
  template:
    spec:
      containers:
        - image: asia-southeast1-docker.pkg.dev/grandline-508001/cloud-run-source-deploy/johnlloydcallao01-tap2go/tap2go-git:latest
          ports:
            - containerPort: 8080
          env:
            - name: NODE_ENV
              value: production
            - name: ADMIN_PROD_URL
              value: https://admin.tap2goph.com
            - name: WEB_PROD_URL
              value: https://app.tap2goph.com
            - name: CMS_PROD_URL
              value: https://cms.tap2goph.com
            - name: COOKIE_DOMAIN
              value: .tap2goph.com
            - name: PAYLOAD_SECRET
              valueFrom:
                secretKeyRef:
                  name: tap2go-payload-secret
                  key: latest
            - name: DATABASE_URI
              valueFrom:
                secretKeyRef:
                  name: tap2go-database-uri
                  key: latest